#left-menu {
    width:20em;
    padding: 5px;
    background: #6B7DD8;
}

#display_window a {
    color: darkblue;
}

.tasktable td {
    border: 1px solid black;
    padding: 2px;
}

tr.task_row {
    display: none;
    }

.projectdiv {
    background: #6B7DD8;
    padding: 5px;
    border: 2px solid #3D4973;
    }

.layout-table td {
    vertical-align: top;
    padding: 5px;
    background: #6B7DD8;
    }

.task_div {
    margin: 5px 5px 5px 20px;
    border: 1.5px solid #3D4973;
    background: #7EABFF;
    padding: 5px;
    display: none;
    }

.clear{
    clear: both;
    height: 0;
    visibility: hidden;
    display: block;
}

.menucontent.inactive {
    display: none;
    }

.menucontent.active {
    display: block;
    }

#left-menu ul.menu li{
    float: left;
    margin-right: 0px;
}
#left-menu ul.menu li{
    font-weight: 700;
    display: block;
    padding: 5px 10px 5px 10px;
    background: #3D4973;
    border: 1px solid #3D4973;
    border-width: 1px 1px 1px 1px;
    position: relative;
    color: #898989;
    cursor: pointer;
}
#left-menu ul.menu li.active{
    background: #fff;
    border-bottom: 0;
    color: #5f95ef;
} 