#rightmenu {
    width:300px;
    border: 1px solid black;
    float: right;
    position: relative;
    padding: 5px;
    background: #6B7DD8;
}

#view_window {
    display: inline-block;
}

.tasktable td {
    border: 1px solid black;
    padding: 2px;
}

.projectdiv {
    margin: 5px;
    background: #6B7DD8;
    padding: 5px;
    }