#left-menu {
    width:20em;
    float: left;
    position: relative;
    padding: 5px;
    background: #6B7DD8;
}

#display_window a {
    color: darkblue;
}

.tasktable td {
    border: 1px solid black;
    padding: 2px;
}

.projectdiv {
    background: #6B7DD8;
    padding: 5px;
    border: 3px solid #3D4973;
    }

.layout-table td {
    vertical-align: top;
    padding: 5px;
    background: #6B7DD8;
    }

.hierarchy_task_div {
    margin: 5px 5px 5px 20px;
    border: 1.5px solid #3D4973;
    background: #7EABFF;
    padding: 5px;
    }