{% extends framename %}

{% block maincontent %}

    <link href="/media/simpletask/css/main.css" rel="stylesheet" type="text/css">

<div id="view_window">
    <div id="addtask">
        <a href="#"><img src="/media/simpletask/images/addtask.jpeg"/></a>
    </div>
        
    {% for project in projects %}
        <div class="projectdiv" id="Project{{project.id}}">
        <h3>{{project.name}}</h3>
            <table class="tasktable">
                <tr><th>Title</th><th>Description</th><th>Creator</th><th>Owners</th><th>Deadline</th><th>Priority</th><th>Status</th><th>Inputs</th><th>Outputs</th><th></th></tr>
                {% for task in project.tasks.all %}
                <tr id="taskrow{{task.id}}">
                        <td>{{ task.title }}</td>
                        <td>{{ task.descriptio|truncatewords:5 }}</td>
                        <td>{{ task.creator.username }}</td>
                        <td>{{ task.owners.all }}</td>
                        <td>{{ task.deadline }}</td>
                        <td>{{ task.priority }}</td>
                        <td>{{ task.status }}</td>
<!--                        <td>{{ task.inputs.all|default:"none" }}</td>
                        <td>{{ task.outputs.all|default:"none" }}</td>  -->
                        <td><div id="updatetask{{task.id}}"><a href="#"><img src="/media/simpletask/images/updatetask.jpeg"/></a></div></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endfor %}
</div>

<div id="rightmenu">
    This is the rightmenu
</div>

    <script type="text/javascript">
        $(document).ready(function(){
            $("#addtask a").click(function(){
                        $.get("/simpletask/updatetaskdiv", {taskid: "new"}, function(result){
                            $("#rightmenu").html(result);
                            });
                        });
                        
            {% for project in projects %}
                {% for task in project.tasks.all %}
                    $("#updatetask{{ task.id }} a").click(function(){
                        $.get("/simpletask/updatetaskdiv", {taskid: "{{ task.id }}"}, function(result){
                            $("#rightmenu").html(result);
                            });
                        });
                {% endfor %}
            {% endfor %}
        });
    </script>


{% endblock %}
