{% extends "cs_website/index.html" %}

{% block maincontent %}

<link href="/media/simpletask/css/main.css" rel="stylesheet" type="text/css">

{% if notice %}
    <div class="notice">
        {{notice|safe}}
    </div>
{% endif %}

<table class="layout-table" width="100%">
<tr>

<td with="25%">
    <div class="horizontal_menu_item">
        <a href="/simpletask/">Table View</a>
    </div>
    <div class="horizontal_menu_item">
        <a href="/simpletask/hierarchy">Hierachy view</a>
    </div>
            
{% block leftmenu %}

<div id="left-menu">
{% if left_menu_template %}
{% include left_menu_template %}
{% endif %}
</div>
{% endblock leftmenu %}
</td>

<td width="75%">
{% block displaywindow %}

Select a view on the left!
    
{% endblock displaywindow %}
</td>
</tr>
</table>

{% endblock maincontent %}
