<div>
    <h4>Adding new task</h4>
    <form id="newtaskform">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="create" type="image" src="/media/simpletask/images/create.jpeg" alt="Create button"/>
    </form>
    <script type="text/javascript">
            $("input.create").click(function(e){
                e.preventDefault();
                $.post("/simpletask/new_task/",$("#newtaskform").serialize(), function(result){
                    $("div.interactive").html(result);
                    $.post("/simpletask/display_window/",$("#displayform").serialize(), function(result){
                    $("#display_window").html(result);
                        });
                    });

                });
    </script>
</div>
