<div id="hierarchy_task_div_{{task.pk}}" class="hierarchy_task_div" >
    <h4>{{task.name}}</h4>
    <div class ="taskmenu">
        <div id="updatetask{{task.id}}" class="horizontal_menu_item"><a href="#"><img src="/media/simpletask/images/updatetask.jpeg"/></a></div>
        <div id="deletetask{{task.id}}" class="horizontal_menu_item"><a href="#"><img src="/media/simpletask/images/delete.jpeg"/></a></div>
        <div id="addchildtask{{task.id}}" class="horizontal_menu_item"><a href="#"><img src="/media/simpletask/images/addchild.jpeg"/></a></div>
    </div>
    {% if task.wikipage %}<a href="{{task.wikipage}}">WikiPage</a><br/>{% endif %}

    <table>
                        <tr id="taskrow{{task.id}}">
                        <td>{{ task.assigned_to }}</td>
                        <td>{{ task.deadline }}</td>
                        <td>{{ task.priority }}</td>
                        <td>{{ task.status }}</td>
<!--                        <td>{{ task.inputs.all|default:"none" }}</td>
                        <td>{{ task.outputs.all|default:"none" }}</td>  -->
                    </tr>
    </table>
    <p>
    {{task.notes}}
    </p>

    <script type="text/javascript">
                    $("#updatetask{{ task.id }} a").click(function(){
                        $.get("/simpletask/edit_task", {pk: "{{ task.pk }}"}, function(result){
                            $("#left-menu").html(result);
                            });
                        });
                    $("#deletetask{{ task.id }} a").click(function(){
                        $.get("/simpletask/delete_task", {pk: "{{ task.pk }}"}, function(result){
                            $("#left-menu").html(result);
                            });
                        });
                    $("#addchildtask{{task.id}} a").click(function(){
                $.get("/simpletask/new_task", {project: "project.id", task: "task.id"}, function(result){
                $("#left-menu").html(result);
                });
            });
    </script>
    <div id="task{{task.id}}children">
    {% for child in task.children.all %}
        {{child.hierarchy_div|safe}}
    {%  endfor %}
    </div>
</div>