<div id="hierarchy_task_div_{{task.pk}}" class="task_div status_{{task.status|lower}}" >
    <div class ="taskmenu" style="float: right;">
        <div id="updatetask{{task.id}}" class="horizontal_menu_item"><a href="#"><img src="/media/simpletask/images/updatetask.jpeg"/></a></div>
        <div id="addchildtask{{task.id}}" class="horizontal_menu_item"><a href="#"><img src="/media/simpletask/images/addchild.jpeg"/></a></div>
        <div id="deletetask{{task.id}}" class="horizontal_menu_item"><a href="#"><img src="/media/simpletask/images/delete.jpeg"/></a></div>
    </div>
    <b>Name: {{task.name}}</b><br/>
    <b>By:</b> {{task.opened_by}} <b>To:</b> {{task.assigned_to}} <b>Status:</b> {{task.status}} <b>Priority:</b> {{task.priority}} <b>Deadline:</b> {{task.deadline|default:"None"}}</br>

    
    {% if task.wikipage %}<a href="{{task.wikipage}}">WikiPage</a><br/>{% endif %}
    {{task.notes}}


    <script type="text/javascript">
                    $("#updatetask{{ task.id }} a").click(function(){
                        $.get("/simpletask/edit_task", {pk: "{{ task.pk }}"}, function(result){
                            $("div.interactive").html(result);
                            });
                        });
                    $("#deletetask{{ task.id }} a").click(function(){
                        $.get("/simpletask/delete_task", {pk: "{{ task.pk }}"}, function(result){
                            $("div.interactive").html(result);
                            });
                        });
                    $("#addchildtask{{task.id}} a").click(function(){
                        $.get("/simpletask/new_task", {project: "{{task.project.pk}}", parent: "{{task.pk}}"}, function(result){
                            $("div.interactive").html(result);
                            });
                        });
    </script>
    <div id="task{{task.id}}children">
    {% for child in task.children.all %}
        {{child.hierarchy_div|safe}}
    {%  endfor %}
    </div>
</div>